/**HEADER**/

.body{
	background-color: #F6F8F9;
}

.main{
	z-index: 2;
}

.fixed{
	background-color: #F6F8F9;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.navigation{
	width: 100%
}

.logo{
	margin-top: 18px;
	margin-right: 92px;
	margin-left: 20px;
	display: inline-block;
}

.nav-bar{
	display: inline-block;
}

.nav-li{
	display: inline-block;
	padding: 25px;
	font-size: 11px;
	color: #343638;
}

.pic{
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
}

.nav-a, .active{
	color: gray;
	font-family: helvetica;
	font-size: 11px;
	font-weight: bold;
	margin-right: 20px;
	text-transform: uppercase;
	vertical-align: middle;
}

.active{
	font-weight: bold;
	color: #343638;
}


   /*SECTION1*/

.s1{
	width: 1160px;
	height: 410px;
	margin: 0px auto;
	margin-top: 75px;
}

.box1{
	width: 360px;
	height: 350px;
}

.trend, .texting, .happ{
	font-family: helvetica;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}


.box1, .box2, .box3{
	width: 360px;
	height: 350px;
	display: inline-block;
	margin-right: 40px;
}

.box3{
	margin-right: 0px;
}

.box1, .box2, .box3, .box4, .box5{
	position: relative;
	margin-top: 40px;
}

.texting{
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
	text-transform: none;
	color: #ffffff;
	position: absolute;
	top: 28px;
	left: 31px;
}

.down{
	width: 360px;
	height: 180px;
	background-color: #ffffff;
}

.p, .span{
	width: 275px;
	text-align: left;
	color: #A6ADB4;
	padding-top: 76px;
}

.time, .p{
	margin-left: 31px;
}

     /*SECTION2*/

.s2{
	margin: 0 auto;
	width: 1160px;
	height: 900px;
	display: inline-block;
}

.happ{
	margin-top: 50px;
}

.box4{
	width: 760px;
	height: 900px;
	display: inline-block;
	margin-right: 40px;
}

.box4, .box5{
	display: inline-block;
	vertical-align: top;
}

.pic4{
	width: 760px;
	height: 430px;
	position: relative;
}

.p4{
	font-family: helvetica;
	font-weight: bold;
	position: absolute;
	color: #ffffff;
	top: 124px;
	left: 308px;
}

.pic5{
	padding-top: 40px;
	display: block;
}

.pic6, .pic7{
	padding-bottom: 102px;
	display: block;
}

